[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pylama = "*"

[packages]
autoflake = "*"
flake8 = "*"
epc = "*"
importmagic = "*"
python-language-server = {extras = ["all"],version = "*"}
click = "*"
python-levenshtein = "*"
colorama = "*"
pandas = "*"
gitpython = "*"
requests = "*"
autocorrect = "*"
xlsxwriter = "*"
pyinquirer = "*"
tqdm = "*"

[requires]
python_version = "3.7"
